* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.blue {
  color: #2575e7;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header_top_line {
  background-color: #2f3f54;
  color: rgba(255, 255, 255, 0.3);
}

.header_top_line_inner {
  display: flex;
  justify-content: space-between;
  padding: 1.07rem 0.71rem;
}

.contact {
  display: flex;
}

.contact_box {
  display: flex;
}

.contact_box li {
  padding-left: 5.14rem;
}

.contact_box li a {
  display: flex;
  align-items: center;
}

.contact_box li a:hover {
  color: #fff;
}

.contact_email .material-icons {
  font-size: 1.35rem;
  padding-right: 0.35rem;
}

.contact_phone .material-icons {
  font-size: 1.35rem;
  padding-right: 0.35rem;
}

.user a {
  margin-left: 1.42rem;
}

.header_content {
  font-family: "Roboto", sans-serif;
  color: #2f3f54;
  padding: 1.78rem 0.71rem;
}

.header_content_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_text {
  font-size: 1.57rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0.71rem;
}

.nav {
  display: flex;
}

.nav_item {
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 2.5rem;
}

.nav_item:hover {
  color: #2575e7;
}

.banner {
  background-image: url(../img/banner_bg.jpg);
  color: #fff;
  padding-top: 11.78rem;
  padding-bottom: 19.28rem;
  position: relative;
}

.banner_content {
  display: flex;
  padding: 0 0.71rem;
}

.banner_simple {
  line-height: 1.71;
}

.banner_heading {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 3.42rem;
  line-height: 1.08;
  font-weight: 700;
}

.banner_start_prise {
  font-size: 1.35rem;
  line-height: 2.74;
}

.banner_banner_enter {
  line-height: 1.71;
}

.banner_servises {
  margin-top: 3rem;
  margin-bottom: 3.78rem;
}

.banner_servises_item {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.banner_servises_item .material-icons {
  color: #000;
  padding-right: 0.71rem;
}

.banner_button {
  display: inline-block;
  padding: 0.71rem 2.14rem;
  margin-bottom: 1.42rem;
  border: 2px solid #fff;
  border-radius: 2.5rem;
  text-transform: uppercase;
}

.banner_button:hover {
  background-color: #fff;
  color: #2575e7;
  transition: all .4s ease;
}

.banner_img {
  display: flex;
  align-items: flex-end;
}

.banner_img img {
  max-width: 100%;
}

.banner_img img:first-child {
  padding-right: 2.85rem;
}

.banner_img_block {
  position: relative;
}

.start_prise {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -4.42rem;
  right: -7.14rem;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  padding: 65px 45px;
}

.start_prise .prise {
  font-size: 4rem;
}

.start_prise span:last-child {
  align-self: flex-end;
}

.domain {
  width: 99%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: -12rem;
  transform: translateX(-50%);
  padding: 0 7.85rem;
  padding-top: 7.85rem;
  padding-bottom: 5.35rem;
  box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.domain form {
  display: flex;
}

.domain_search {
  width: 75%;
  padding: 2rem 2.28rem;
  border: none;
  box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.domain_sub {
  width: 25%;
  background-color: #2575e7;
  color: #fff;
  border: none;
  padding: 2rem 3.5rem;
}

.domain_color {
  margin-top: 2.5rem;
}

.domain_color span {
  padding-right: 1.42rem;
}

.domain_color_com {
  color: #2575e7;
}

.domain_color_asia {
  color: #28aa15;
}

.domain_color_online {
  color: #ea3700;
}

.domain_color_me {
  color: #0076c8;
}

.domain_color_cn {
  color: #00e2aa;
}

.domain_color_text {
  color: #2f3f54;
  padding-left: 4.28rem;
}

.we_offer {
  margin-top: 290px;
}

.offer {
  display: flex;
}

.servises {
  display: flex;
  max-width: 740px;
  box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.servises_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.servises_icon_item {
  margin-top: 8.5rem;
}

.servises_icon_item:first-child {
  margin-top: 19.7rem;
}

.servises_list {
  background-color: #2575e7;
  color: #fff;
  padding: 6.07rem 4.28rem 0 3rem;
}

.servises_list_title {
  font-family: "Roboto", sans-serif;
  font-size: 2.85rem;
  margin-bottom: 4.42rem;
}

.servises_item {
  margin-bottom: 4rem;
}

.servises_item_title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.42rem;
  margin-bottom: 1.2rem;
}

.servises_lots {
  width: 60%;
  margin-left: 4.71rem;
}

.servises_lots_title {
  font-family: "Roboto", sans-serif;
  font-size: 2.85rem;
  margin: 2.64rem 0;
  white-space: pre-line;
  font-weight: 900;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}
